In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [12]:
# Visitation for Yosemite
gas_per_gallon = pd.read_csv('Resources/gas_per_gallon.csv')
gas_per_gallon.head()

,Back to Contents,Data 1: U.S. All Grades All Formulations Retail Gasoline Prices (Dollars per Gallon)
0,Sourcekey,EMM_EPM0_PTE_NUS_DPG
1,Date,U.S. All Grades All Formulations Retail Gasoli...
2,Apr-1993,1.078
3,May-1993,1.1
4,Jun-1993,1.097